<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
    <div style="width:100%" class="container">

      <!-- Page Heading -->
      <h1 class="my-4" color="green" >Kisan Helper :
        <small>Product Availability</small>
      </h1>

      <!-- Project One -->
      <div class="row">
        </div>
        <div class="col-md-5">
          
          
        </div>
      </div>
      <!-- /.row -->
      <br/><br/>

      <!-- Project Two -->
      <div class="row">
        
        </div>
        <div class="col-md-5">
          <h3>Get Data</h3>
              {{!-- <a href="/get-data1">LOAD DATA</a> --}}
              <table style="width:100%">
                      <tr>
                             <th>farmer_name </th>
										   <th>farmer_number </th>
										   <th>farmer_address</th>
						                
                             <th>product_name </th>
                            <th>price </th>
                            <th>kg </th>
                            <th>date </th>
                            <th>type </th>
                            <th>Link</th>
                            {{!-- <hr> --}}
                     </tr> 
                    {{# each items }}
                    
                     <tr>
                        <td>{{ this.farmer_name }}</td>
                        <td>{{ this.farmer_number }}</td>
                        <td> {{ this.farmer_address }}</td>
                        <td>{{ this.product_name }}</td>
                        <td>{{ this.price }}</td>
                        <td>{{ this.kg }}</td>
                        <td>{{ this.date }}</td>
                        <td>{{ this.types }}</td>
                        <td><a href="/pass-data/{{this.farmer_number}}">goto</a></td>

                     </tr>
                     
                    {{/each}}
               
              </table>
        </div><br/>
      </div>
      <!-- /.row -->

      <hr>

 