

<body>
	
	<div class="ban-top">
		<div class="container">
			<div class="top_nav_left">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
							    aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav menu__list">
								<ul class="nav navbar-nav menu__list">
								<li class="">
									<a class="nav-stylehead" href="#veges">Veges
										
									</a>
								</li>
								<li class="">
									<a class="nav-stylehead" href="#Fruits">Fruits</a>
								</li>
								<li class="">
									<a class="nav-stylehead" href="#Cereals">Cereals
										
									</a>
									
								</li>
								<li class="">
									<a href="#Pulses" class="nav-stylehead">Pulses
										
									</a>
									

								</li>
								<li class="">
									<a class="nav-stylehead" href="#Dairy">Dairy Products</a>
								</li>
								<li class="">
									<a class="nav-stylehead" href="#Eggs">Eggs
										
									</a>
			
								</li>
								
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!-- //navigation -->
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/home">Home</a>
						<i>|</i>
					</li>
					<li>Product Description</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- contact page -->
	<div class="contact-w3l">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Product Description
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- contact -->
			<div class="contact agileits" style="width: 500px;">
				<div class="contact-agileinfo">
					<div class="contact-form wthree">
						<form action="/insert" method="post">
							<div class="">
						         Product Name :<input type="text" name="product_name" style="padding: 8px; width: 300px;" placeholder=" " required="">
							</div><p></p>
							<div class="">
		                  Product Type : <br><br>
		                  <select class="Product type" name="types">
				<optgroup label="Apple">
					<option selected style="display:none;color:#eee;">Select</option>
					<option value="Golden Delicious">Golden Delicious</option>
					<option value="Honey Crisp">Honey Crisp</option>
					<option value="Green">Green</option>
					<option value="Red">Red</option>
					<option value="Jazz">Jazz</option>
					
				</optgroup>
				<optgroup label="Grape">
					<option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
					<option value="Chardonnay">Chardonnay</option>
					<option value="Grenache">Grenache</option>
					<option value="Merlet">Merlet</option>
					<option value="Malbec">Malbec</option>
				</optgroup>
				<optgroup label="Pappaya">
					<option value="Mexican">Mexican</option>
					<option value="Hawaii">Hawaii</option>
					
				</optgroup>
				<optgroup label="Cherry">
					<option value="Bing Cherry">Bing Cherry</option>
					<option value="Chelan Cherry">Chelan Cherry</option>
					<option value="Lapins Cherry">Lapins Cherry</option>
					<option value="Raimer Cherry">Raimer Cherry</option>
					<option value="Tulare Cherry">Tulare Cherry</option>
				</optgroup>
				<optgroup label="Orange">
					<option value="Blood Oranges">Blood Oranges</option>
					<option value="Satsuma">Satsuma</option>
					<option value="Common Mandarin">Common Mandarin</option>
					<option value="Mediterranean Mandarin">Mediterranean Mandarin</option>
					
				</optgroup>
				<optgroup label="Mango">
					<option value="Banganapalli">Banganapalli</option>
					<option value="Kesar">Kesar</option>
					<option value="Neelam">Neelam</option>
					<option value="Sindoora">Sindoora</option>
					
				</optgroup>
				<optgroup label="Pears">
					<option value="Asian Pear">Asian Pear</option>
					<option value="Europian Pear">Europian Pear</option>
					
				</optgroup>
				<optgroup label="Pineapple">
					<option value="Abacaxi">Abacaxi</option>
					<option value="Queen">Queen</option>
					<option value="Red Spanish">Red Spanish</option>
					<option value="Smooth Cayene">Smooth Cayene</option>
					
				</optgroup>
				<optgroup label="Banana">
					<option value="Saba Banana">Saba Banana</option>
					<option value="Red Banana">Red Banana</option>
					<option value="Lady Finger Banana">Lady Finger Banana</option>
					
				</optgroup>
				<optgroup label="Watermelon">
					<option value="Seedless Watermelon">Seedless Watermelon</option>
					<option value="Red Watermelon">Red Watermelon</option>
					<option value="Yellow Watermelon">Yellow Watermelon</option>
					
				</optgroup>
				<optgroup label="Brinjal">
					<option value="Thai Eggplant">Thai Eggplant</option>
					<option value="Japanese White Eggplant">Japanese White Eggplant</option>
					<option value="African Garden Eggplant">African Garden Eggplant</option>
					
				</optgroup>
				<optgroup label="Tomato">
					<option value="Cherry Tomato">Cherry Tomato</option>
					<option value="Roma Tomato">Roma Tomato</option>
					<option value="Green Zebra">Green Zebra</option>
					<option value="Better Boy">Better Boy</option>

				</optgroup>
				<optgroup label="Onions">
					<option value="Shallot">Shallot</option>
					<option value="Calcot">Calcot</option>
					<option value="Potato Onion">Potato Onion</option>
					
				</optgroup>
				<optgroup label="Garlic">
					<option value="Solo Garlic">Solo Garlic</option>
					<option value="Snow Mountain Garlic">Snow Mountain Garlic</option>
					
				</optgroup>
				<optgroup label="Chilli">
					<option value="Poblano">Poblano</option>
					<option value="Jalepeno">Jalepeno</option>
					<option value="New Mexican Chilli">New Mexican Chilli</option>
					<option value="Serrano peper">Serrano peper</option>
																			       
				</optgroup>
				<optgroup label="Cauliflower">
					<option value="Broccoli">Broccoli</option>
					<option value="Brussel Sprouts">Brussel Sprouts</option>
					<option value="Purple Cauliflower">Purple Cauliflower</option>

				</optgroup>
				<optgroup label="Potato">
					<option value="Dore">Dore</option>
					<option value="Parel">Parel</option>
					<option value="Melody Potato">Melody Potato</option>
					       													
				</optgroup>
				
			</select>
							</div><br/>
							<div class="">
								Price/Kg : <input class="text" type="text" name="price" style="padding: 8px; width: 300px;" placeholder="" required="">
							</div>
							<div class="">
								Total Quantity :<input type="text" placeholder="" style="padding: 8px; width: 300px;" name="kg" required="">
							</div>
							<div class="">
								Date:<input type="Date" placeholder="" style="padding: 8px; width: 300px;" name="date" required="">
							</div>
							<input type="submit" value="Submit">
						</form>
					</div>
					
				</div>
			</div>
			<div class="contact agileits" style="width: 500px; margin-left: 600px; margin-top: -550px;">
				<div class="contact-agileinfo">
					<div class="contact-form wthree">
						 
    					<a href="/get-data">LOAD DATA</a>
							<div class="">
						         
						        {{# each items }}
						           
						                 <div>product_name: {{ this.product_name }}</div>
						                <div>price: {{ this.price }}</div>
						                <div>kg: {{ this.kg }}</div>
						                <div>date: {{ this.date }}</div>
						                <div>type: {{ this.types }}</div>
						                <hr>
						           
						        {{/each}}
						   
							</div><p></p>
						
					</div>
				</div>
			</div>

			<!-- //contact -->
		</div>
	</div>
	<!-- map -->
	<footer style="margin-top: 350px; ">

	<div class="copy-right">
		<div class="container">
			<p>© 2018 Kisan Helper. | Design by
				<a href="#">Exploiters</a>
			</p>
		</div>
	</div>
	</footer>
	
